[app]
name = "HR-API"
env = "local"
owner = "hr@project.com"
 
[database]
connection = "mysql"
host = "localhost"
port = 3306
name = "testing"
username = "root"
password = ""
charset = "utf8"
loc = "Local"
 
[token]
key = "api@hr"
issuer = "ownerproject"
 
[utilities]
ui_avatar_url = "https://ui-avatars.com/api"